@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --color-primary: rgb(47, 129, 213);
  --color-danger: rgb(230, 110, 91);
  --color-success: rgb(42, 124, 80);
  --color-warning: rgb(225, 56, 60);
  --color-white: rgb(238, 245, 245);
  --color-info-dark: rgb(52, 60, 60);
  --color-info-light: rgb(224, 240, 241);
  --color-dark: rgb(62, 67, 76);
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: rgb(130, 56, 242);
  --color-dark-variant: rgb(54, 8, 124);
  --color-background: rgb(214, 222, 225);

  --card-padding: 1rem;
  --padding-1: 5rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

html {
  font-size: 14px;
}

body {
  background: var(--color-white);
}

h1 {
  font-size: 3.5rem;
}

h2 {
  text-align: center;
}

header {
  border: 5px;
  padding: var(--padding-1);
  background-color: var(--color-background);
}

.head_greeting {
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.main_container {
  display: flex;
  justify-content: center;
  margin: var(--padding-1);
  margin-top: var(--card-padding);
}

.card {
  min-width: auto;
  background: var(--color-white);
  margin: var(--card-padding);
  border-style: none;
}

.card-body {
  padding-top: 0%;
}

#card_box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-right: 0px;
}

.form-label {
  padding-top: 1rem;
}

.form-control {
  width: 20rem;
  min-width: 10rem;
}

.destinations {
  margin: var(--card-padding);
}

.dest_header {
  padding-top: 1rem;
  padding-bottom: 1px;
  background: var(--color-white);
}

.dest_cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-primary {
  margin-top: 1rem;
}
